
<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args python" />

  <node launch-prefix="$(arg launch_prefix)" pkg="valkyrie_testing_edi" type="converted_whole_body.py" name="ValkyrieWholeBodyTestNode" output="screen">
    <param name="DataFile" type="string" value="$(find valkyrie_testing_edi)/data/converted_whole_body_left_arm_front.yaml" />
    <param name="PrepTime" type="double" value="5" />
    <param name="PauseAt" type="double" value="-1" />
  </node>
</launch>