<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args python" />

  <node launch-prefix="$(arg launch_prefix)" pkg="valkyrie_wholebody_msgs_tests" type="load_foot.py" name="ValkyrieNeckTestNode" output="screen">
    <param name="DataFile" type="string" value="$(find valkyrie_wholebody_msgs_tests)/data/load_left_foot.yaml" />
  </node>
</launch>
