<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args python" />

  <node launch-prefix="$(arg launch_prefix)" pkg="valkyrie_wholebody_msgs_tests" type="full_test_suite.py" name="ValkyrieFullTestSuiteNode" output="screen">
    <param name="TestSuiteDataFile" type="string" value="$(find valkyrie_wholebody_msgs_tests)/data/multiple_tests/go_home_suite.yaml" />
    <param name="TestSuitePackagePath" type="string" value="$(find valkyrie_wholebody_msgs_tests)" />

  </node>

</launch>
